* {
	margin: 0;
	padding: 0;
}

.montruMaxWidth {
	width: 100%;
}

.montruMaxHeight {
	height: 100%;
}

.montruScrollY {
	overflow-y: scroll;
}

.montruInline {
	display: inline-block;
	vertical-align: top;
}
